<!DOCTYPE html>
<html>
<head>
  <title>M Digital Services</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<div id="mds"><img src="images/sidelogo.svg"> - Digital Services</div>
<nav class="mini">
    <menuitem><a href="/work.html">Work</a></menuitem>
    <menuitem><a href="/capabilities.html">Changelog</a></menuitem>
    <menuitem><a href="/team.html">Team</a></menuitem>
    <menuitem><img src="images/ffflogo.svg"></menuitem>
    <menuitem><a href="/mateo.html">Home</a></menuitem>
    <menuitem><a href="/about.html">About</a></menuitem>
    <menuitem><a href="/letswork.html">Let's Work</a></menuitem>
    <div class="hb">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<script>
$(document).ready(function(){
    $( ".hb" ).click(function() {
      $( "nav" ).toggleClass( "navexpanded" );
      $( "nav" ).toggleClass( "mini" );
      $( this ).toggleClass('open');
    });
    $( "#notablet" ).click(function() {
        $( this ).hide();
    });
});
</script>

</body>
</html>
