<div id="mds"><%= image_tag 'gm' %> - Digital Services</div>
<nav>
    <menuitem>Work</menuitem>
    <menuitem>Capabilities</menuitem>
    <menuitem>Team</menuitem>
    <menuitem><%= image_tag "logo" %></menuitem>
    <menuitem>About</menuitem>
    <menuitem>Contact</menuitem>
    <menuitem>Let's Work!</menuitem>
</nav>
<div class="intro">
</div>
<div class="window">
   <div class="windownav">
       <div class="windowbutton"></div><!--
    --><div class="windowbutton"></div><!--
    --><div class="windowbutton"></div>
   </div>
</div>
<main>
    <div class="bigcard">
       <section id="miniabout">
           <%= image_tag 'fulllogo'%>
           <%= image_tag 'Path'%>
           <%= image_tag 'Mb'%>
           <h1>
           An Innovative, creative, and determined group of people that 
           will make your digital dreams become a realily.
           </h1>
           <img src="https://www.emojibase.com/resources/img/emojis/apple/x1f4af.png.pagespeed.ic.XGag47MW_q.png">
       </section> 
       <section id="left2third">
           <div id="clients">
               <span id="clientborder">
                   <h2>Our Clients</h2>
               </span>
               <p>None Yet, you could be one!</p>
           </div>
       </section>
       <section id="right1third">
       </section>
    </div>
</main>
