html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{transition:all .1s ease-in-out;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
.reset {transition:all .1s ease-in-out;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important;
}
body {
  padding: 100px;
  min-height: 100vh !important;
  width: 100vw !important;
}
#mlogo {
  height: 72px;
  width: 72px;
  background: #000;
}

.nav {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 140px;
  top: 50%;
  transform: translate(0, -50%);
  background: url(https://mateocf.github.io/mateocf/Work2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.thirdcontainer {
    height: 125px;
    width: 250px;
    overflow: hidden;
    position: relative;
    transform-origin: 50% 100%;
}
.third {
    height: inherit;
    width: inherit;
    position: absolute;
    cursor: pointer;
    border-radius: 125px 125px 0 0;
    background-color: #fff;
    transform-origin: 50% 100%;
    transform: rotate(60deg);
    display: block;
}

#home {
  transform: rotate(-30deg);
  z-index: 1;
}

#home:hover {
    transform: scale(1.1) scaleX(-1) rotate(-30deg) translate(-5px, 6px);
    position: relative;
    z-index: 2;
}

#home:after, #about:after {
  width: 100%;
  height: 10px;
  background: #eee;
  content: '';
  display: block;
  position: relative;
  top: calc(100% - 1px);
  left: 50%;
}

#homeimg {
  transform: rotate(-30deg) translate(-1px, -50%);
  height: 50px;
  position: relative;
  left: calc(100%/3);
  top: 50%;
}

#about {
  transform: rotate(-150deg);
  position: absolute;
  top: 0px;
  z-index: 1;
}

#about:hover {
  transform: scale(1.1) translate(5px, -6px) rotate(-150deg);
}

#aboutimg {
  height: 60px;
  position: relative;
  left: calc(25%);
  top: 30%;
  transform: rotate(90deg);
}

#hiddenwork {
  width: 200px;
  height: 200px;
  transform: rotate(90deg) translate(10%, -9%) skew(30deg);
  position: relative;
  top: 2%;
  left: 3%;
  z-index: 3;
  cursor: pointer;
}

/*#hiddenwork:hover {
  background: rgba(255, 0, 0, 0.5);
}*/

.thirdmask {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
  top: -50%;
}

#slideshow {
  width: calc(100% - 250px - 200px - 80px);
  height: calc(100% - 200px);
  background: #000;
  position: absolute;
  top: 100px;
  right: 100px;
  /*border: solid 1px rgba(15,81,186,.3);*/
  background: #fff;
}

.notification {
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  padding: 20px 20px 20px 10px;
  width: 300px;
}

.notification .x {
  height: 20px;
  float: right;
  cursor: pointer;
}

.notification p {
  display: block;
  padding: 0 0 0 9px;
  border-left: 1px solid rgba(15,81,186,1);
}

.notification span {
  text-decoration: line-through;
}

/* About Page */
.about {
  background: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  height: 100vh;
  padding: 100px 40px 40px 40px;
}

.about h1 {
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(15,81,186,1);
    margin: 1em 0;
    padding: 0;
}

/* Work Page */
.work {
  background: #fff;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.work img {
  width: 100%;
}

/* Slideshow Page */
.slideshow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
/*img:nth-child(1) {
  animation-delay: 12s;
}
*/
img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 0s;
}

@media only screen and (max-width: 900px) {
  #slideshow {
    width: calc(100% - 100px);
    height: 50%;
    left: calc(50% );
    transform: translate(-50%, 0);
    position: absolute;
    top: 500px;
  }
}

.workphoto {
  width: 50%;
  text-align: center;
}
